.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rows .cols {
  border: 1px solid black;
}



/* .selector {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
} */