

.rows {
  display: flex;
}

.cols {
  border: 1px solid black;
  /* padding: 50px; */
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cols[start-node] {
  background-color: rgb(61, 226, 61);
}

.cols[end-node] {
  background-color: rgb(228, 84, 84);
}

.cols[wall-node] {
  background-color: black
}